{% extends 'Authentication/basic.html' %}
{% load static %}
        {% block title %}2-Factor Authentication Sign Up{% endblock %}

{% block body %}
<body class="login-page">
    <div class="login-header box-shadow">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="brand-logo">
                <a href="/signin">
                    <img src="{% static 'vendors/images/deskapp-logo.svg' %}" alt="">
                </a>
            </div>
            <div class="login-menu">
                <ul>
                    <li><a href="/signup">Register</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% if messages %}
        {% for message in messages%}
            <div class="alert alert-{{message.tags}}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="container"><br>
        <div class="row">
            <div class="col-lg-5 col-md-7 mx-auto my-auto">
                <div class="card">
                    <div class="card-body px-lg-5 py-lg-5 text-center">
                        <h2 class="text-center text-primary">2FA Security</h2>
                        <img src="data:image/png;base64,{{ qr_code_data }}" alt="QR Code">
                        <p class="mb-4">Scan the QR code using Google Authenticator App.</p>
                        <form method="post" action="{% url 'created_account' %}">
                            {% csrf_token %}
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Continue to Sign In Page</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}