{% extends 'Authentication/basic2.html' %}
{% load static %}
{% block title %}Upload Page{% endblock %}

{% block content %}

<div class="main-container">

    {% if messages %}
        {% for message in messages%}
            <div class="alert alert-{{message.tags}}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    
    <div class="login-box bg-white box-shadow border-radius-10">
        <h4 class="text-center text-primary">Upload Files</h4>
        <div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="email" value="{{ email }}">
                <input class="form-control form-control-lg" type="text" id="id_title" name="file_title" placeholder="Title" required><br>
                <textarea id="id_description" name="file_desc" class="form-control form-control-lg" placeholder="Description"></textarea><br>
                <input type="number" id="id_cost" name="cost" min="0" step="0.01" class="form-control form-control-lg" placeholder="Cost"><br>
                <input type="number" id="id_year_published" name="year_published" class="form-control form-control-lg" placeholder="Year Published"><br>
                <input type="file" id="id_file" name="file" class="form-control form-control-lg" placeholder="File Upload" required ><br>
                <button type="submit" formmethod="post" href="/file_upload" class="btn btn-outline-primary btn-lg btn-block">Upload</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}